@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, #wrapper {
  max-width: 100%;
  font-family: lato;
  margin: 0 auto;
}

header, footer, .design, .portfolio {
  background-color: #f6f9f9;
  min-width: 1170px;
}

.banner {
  margin: 0 auto;
  background: #ffffff url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  min-width: 1170px;
}

.feature {
  background-color: #ffffff;
  min-width: 1170px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

h1 {
  -webkit-perspective: 800px;
          perspective: 800px;
  cursor: pointer;
  text-align: left;
}

h1 img:hover {
  -webkit-transform: rotate3d(0, 1, 0, 60deg);
          transform: rotate3d(0, 1, 0, 60deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.banner .container {
  padding-top: 215px;
  padding-bottom: 90px;
  text-align: center;
}

.banner h2 {
  color: #ffffff;
  font-size: 120px;
  font-weight: 700;
  line-height: 47px;
  height: 89px;
}

.lineBody {
  width: 600px;
  border-bottom: transparent;
  margin: 0 auto;
  margin-top: 35px;
}

.line {
  margin: 0 auto;
  width: 600px;
  height: 2px;
  background: #15a4fa;
  -webkit-animation: line 3s linear;
          animation: line 3s linear;
}

@-webkit-keyframes line {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@keyframes line {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

.banner p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
  margin-top: 40px;
}

.banner button {
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  width: 176px;
  height: 54px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #15a4fa;
  -webkit-perspective: 500px;
          perspective: 500px;
  cursor: pointer;
  margin-top: 65px;
}

.banner button:hover {
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 15px 2px #ffffff;
          box-shadow: 1px 1px 15px 2px #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.banner a {
  color: #ffffff;
  font-size: 20px;
  margin-top: 140px;
  display: block;
}

.banner a:hover {
  color: #15a4fa;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.design h2 {
  height: 37px;
  color: #2d3950;
  font-size: 40px;
  font-weight: 400;
  margin-top: 80px;
}

.design p {
  width: 1101px;
  height: 81px;
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 110px;
}

.feature .container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.featureIn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featureIn div {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#48baff), color-stop(49%, #48baff), color-stop(51%, #5fc3ff), to(#5fc3ff));
  background: -webkit-linear-gradient(left, #48baff 0%, #48baff 49%, #5fc3ff 51%, #5fc3ff 100%);
  background: -o-linear-gradient(left, #48baff 0%, #48baff 49%, #5fc3ff 51%, #5fc3ff 100%);
  background: linear-gradient(90deg, #48baff 0%, #48baff 49%, #5fc3ff 51%, #5fc3ff 100%);
}

.fa-mobile {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.fa-paper-plane {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fa-bullhorn {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fa-mobile:hover, .fa-paper-plane:hover, .fa-bullhorn:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.featureIn li {
  width: 360px;
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.featureIn h3 {
  color: #2d3950;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.55px;
  margin-top: 30px;
}

.featureIn p {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.38px;
  margin-top: 25px;
}

.portfolio .container {
  padding-top: 80px;
  padding-bottom: 115px;
  position: relative;
}

.portfolio h2 {
  color: #2d3950;
  font-size: 41px;
  font-weight: 400;
  letter-spacing: 1.02px;
  display: block;
}

.portfolio p {
  color: #909090;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.38px;
  margin-top: 22px;
  margin-bottom: 50px;
}

.portfolioIn {
  position: relative;
  width: 360px;
  height: 260px;
  background-color: #15a4fa;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolioIn .search {
  position: absolute;
  top: 110px;
  left: 130px;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: none;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.portfolioIn .link {
  position: absolute;
  top: 110px;
  right: 130px;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: none;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.portfolioIn:hover a {
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolioIn:hover img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fa-search-plus, .fa-link {
  margin-top: 10px;
}

.portfolioIn a:hover {
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 15px 2px #ffffff;
          box-shadow: 1px 1px 15px 2px #ffffff;
}

.portfolio .container .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.portfolio .container .box .portfolioIn {
  margin-top: 30px;
}

.preview {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
}

.preview img {
  width: 1140px;
  height: 550px;
  background-color: #ffffff;
  position: absolute;
  bottom: 115px;
  left: 30px;
  border: 2px solid #909090;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.preview a {
  text-decoration: none;
  color: #2d3950;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-color: #15a4fa;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: absolute;
  right: 50px;
  bottom: 650px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.preview a span {
  position: absolute;
  top: 13px;
  left: 13px;
}

.preview a:hover {
  background-color: #fa4b15;
}

.preview:target {
  display: block;
}

.stay {
  margin: 0 auto;
  background: #2d3950 url("../img/stayBg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  min-width: 1200px;
}

.stay .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 110px;
}

.stay .container h2 {
  height: 37px;
  color: #ffffff;
  font-size: 41px;
  font-weight: 400;
  letter-spacing: 1.02px;
}

.stay .container p {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.38px;
  margin-top: 20px;
}

.stay .container form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 555px;
  margin-top: 50px;
  position: relative;
}

.stay .container form input {
  color: #999999;
  margin-top: 20px;
  height: 60px;
  border: 1px solid #999999;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.stay .container form textarea {
  color: #999999;
  height: 140px;
  margin-top: 20px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  padding-top: 20px;
  padding-left: 20px;
}

.stay .container form button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 380px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  width: 176px;
  height: 54px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #15a4fa;
  -webkit-perspective: 500px;
          perspective: 500px;
  cursor: pointer;
}

.stay .container form button:hover {
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 15px 2px #ffffff;
          box-shadow: 1px 1px 15px 2px #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.stay .container form label {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0.38px;
  position: absolute;
  top: 395px;
  -webkit-animation: label 2s infinite linear;
          animation: label 2s infinite linear;
}

.stay .container form input {
  padding-left: 20px;
}

@-webkit-keyframes label {
  0% {
    color: white;
  }
  100% {
    color: #2a2dff;
  }
}

@keyframes label {
  0% {
    color: white;
  }
  100% {
    color: #2a2dff;
  }
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container {
  width: 1170px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .container h4 {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  float: left;
  margin-top: 15px;
}

footer .social a {
  text-align: center;
  width: 40px;
  height: 40px;
  float: right;
  background: #15a4fa;
  border: transparent;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #ffffff;
  margin-left: 5px;
}

footer .social .fa-linkedin, footer .social .fa-google-plus, footer .social .fa-twitter, footer .social .fa-facebook {
  margin-top: 10px;
}

.google-pluse a:hover {
  background: #DD4B39;
  color: #fff;
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 7px 1px #DD4B39;
          box-shadow: 1px 1px 7px 1px #DD4B39;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.twitter a:hover {
  background: #00acee;
  color: #fff;
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 7px 1px #00acee;
          box-shadow: 1px 1px 7px 1px #00acee;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.linkedin a:hover {
  background: #0e76a8;
  color: #fff;
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 7px 1px #0e76a8;
          box-shadow: 1px 1px 7px 1px #0e76a8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.facebook a:hover {
  background: #3b5998;
  color: #fff;
  -webkit-transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
          transform: perspective(900px) rotate3d(0, 6, 0, 30deg);
  -webkit-box-shadow: 1px 1px 7px 1px #3b5998;
          box-shadow: 1px 1px 7px 1px #3b5998;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
